
<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body ng-app="Brewmaster" ng-cloak>
  <div ng-controller="AppCtrl" ng-cloak >
    <!-- Top banner -->
    <div id="welcome-banner">
      <img id="banner-image" src="images/banner.jpg">
      <h1 id="brewmaster-logo">Welcome to Brewmaster</h1>
      <h3 id="subheading">Love Beer? So Do We. </h3>
    </div>



    <md-content class="md-padding" layout-xs="column" layout="row">
      <div flex-xs flex-gt-xs="50" layout="row">
        <div data-ng-repeat="beer in beers">
          <md-card class="beer-card">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline beer-name">{{beer.name}}</span>
                <span class="md-subhead beer-info">
                  <p>Brewery: {{beer.brewery}}</p>
                  <p>Type: {{beer.type}}</p>
                  <p>ABV: {{beer.abv}}</p>
                  <p>IBU: {{beer.ibu}}</p>
                </span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-lg card-media">
                  <img class="beer-image" src="{{beer.imageLocation}}"> 
                </div>
              </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
              <md-button ng-click="showVendors(beer)">Vendors</md-button>
            </md-card-actions>
          </md-card>
        </div>
      </div>
    </md-content>
  </div>





  
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
  


  <script src="app.js"></script>
  
</body>
</html>


